<h1>Profile Page for <%= @rides.service_id %></h1>

<p>Date: <%= @rides.date %></p>
<p>leave_time: <%= @rides.leave_time %></p>
<p>return_time: <%= @rides.return_time %></p>
<p>number_of_seats: <%= @rides.number_of_seats %></p>
<p>seats_available: <%= @rides.seats_available %></p>
<p>location: <%= @rides.location %></p>
<p>vehicle: <%= @rides.vehicle %></p>